<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos</title>
</head>
<body>
    <h1>Pedidos Realizados</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>        
                <th>Cliente</th>
                <th>Teléfono</th>
                <th>Correo</th>
                <th>Dirección</th>
                <th>Detalles Pedido</th>
                <th>Estatus</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>TBD</th>        
                <th>PRUEBA</th>
                <th>+525564547866</th>
                <th>prueba@prueba.com</th>
                <th>Av. Prueba Calle 12</th>
                <th>- Sabor 1 <br> - Sabor 2 </th>
                <th>Entregado</th>
            </tr>
        </tbody>
    </table>

    <footer>
        <p> Av. Juan Escutia , Col. La Jarocha</p>
        <p>Teléfono: +52 55 4659 7899</p>
        <p>Horarios: Lunes a Domingo | 09:00hrs - 18:00hrs  </p>
    </footer>
</body>
</html>